# MicroRegime Project

# Build Outputs
build/
regime_classifier/python/run_outputs/old_data
# Data files
ES/
SPY/
data/output/
output/

# CSV files
*.csv

# PKL Models
*.pkl

# Environment files
environment.hpp
*.env
env.py

# PYCACHE
__pycache__

# Databento folder
databento-cpp/
